body{
  background-color: wheat;
}

.App {
  text-align: center;
  padding-bottom: 17px;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 100%;
  margin-top: 100px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.enter-world {
  color: #fff;
  background-color: #A2BC09;
  border-color: #A2BC09;
  font-size: 19px;
  width: 120px;
  font-weight: 900;
  white-space: normal;
  display: inline-flex;
  position: relative;
  border-radius: 20px;

}


.arrow {
  margin-left: 0px;
  position: relative;
  top: 15px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: bolder;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}