body{
  background-color: wheat;
}

.app {
  text-align: center;
  margin-top: 5%;
}

.app-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.enter-world {
  width: 120px;
  white-space: normal;
  display: inline-flex;
  position: relative;
  border-radius: 20px;
}

.pcs4kids-world-btn{
  color: #fff;
  background-color: #A2BC09;
  border-color: #A2BC09;
  font-size: 19px;
  font-weight: 900;
}

.arrow {
  margin-left: 0px;
  position: relative;
  top: 15px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: bolder;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

#activity-canvas{
  margin-left: auto;
  margin-right: auto;
}

#activity-map{
  border-radius: 10px;
}
